body{
background-image:url(images.jpeg);
background-size:200%;
}
.head{
    color: white;
}
.vishnu{
    width: 1000px;
    height: 550px;px;
    background-color: rgba(226, 218, 218,0.2);
    margin:50%;
    border: 5px solid yellow;
}
.h1{
     font-size: 500px;

}